.task-cards__delete-button {
    display: flex;
    background-image: url("../../../images/delete-button.svg");
    background-color: transparent;
    color: #FF5C5C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    mix-blend-mode: normal;
    outline-style: none;
    border: none;
}