.task-cards__complete-button {
    background-image: url("../../../images/complete-button-inactive.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 21px;
    height: 21px;
    mix-blend-mode: normal;
    border: none;
    outline-style: none;
    padding: 0;
}

.task-cards__complete-button:hover {
    cursor: pointer;
    background-image: url('../../../images/Object\ \(1\).svg');
}