.popup-event-preview__info-wrapper {
  display: flex;
  padding-bottom: 30px;
  padding-left: 19px;
  padding-right: 21px;
  
  /* font-family: Raleway; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-align: justify;

  background-image: url(../../../images/calendar-icon.svg);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 10px top;

  color: #050505;
}