.calendar__week-day {
  margin-left: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.761905px;
  color: #DFDFE4;
}

.calendar__week-day:first-of-type {
  margin-left: 0;
}