.popup-event-preview__title {
  /* font-family: Raleway; */
  margin: 0;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: justify;

  color: #050505;
}