.task-cards {
    background-color: #221738;
    margin: 0 auto;
    padding: 20px 0 25px 0;
    box-sizing: border-box;
    height: 300px;
    width: 375px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}