.current-month {
  /* font-family: Raleway; */
  margin: 0;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  
  text-align: justify;
  
  color: #FFFFFF;
}