.calendar__date {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  text-align: justify;
  letter-spacing: 0.761905px;

  color: #DFDFE4;
}