.task-cards__card_selected-day {
    margin: 20px 0 0 0;
    padding: 17px 16px 15px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}
